<div class="container">
	<div class="row">
		<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let photo of listAffiche">
			<div class="card">
				<img class="card-img-top" src="http://localhost:8080/download/{{photo.nom}}" alt="{{photo.nom}}" (click)="openVisu(modalVisu, photo)">
				<div class="card-body">
					<p class="card-text">
						<span class="card-title">{{photo.titre}}</span>&nbsp;
						<a href="http://localhost:8080/download/{{photo.nom}}" download>
							<i class="material-icons">cloud_download</i>
						</a>  
					</p>
					<p class="card-text">
						<span *ngFor="let tag of photo.tags" class="badge badge-pill badge-primary">{{tag.value}}</span>
					</p>
					<p class="card-text text-right">
						<small class="text-muted">{{photo.date | date:'dd/MM/yyyy'}}</small>
					</p>
				</div>
			</div>
		</div>
		<div *ngIf="isLogged" class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4">
			<div class="add" (click)="openModal(modalAjout)">
				<p>Ajouter une photo</p>
				<p>
					<i class="material-icons">add</i>
				</p>
			</div>
		</div>
	</div>
	<div *ngIf="listPhoto.length > pageSize" class="row">
		<ngb-pagination class="col" [(collectionSize)]="listPhoto.length" [(page)]="page" [(pageSize)]="pageSize" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
		<select class="custom-select col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1" id="select" (change)="onChangeSelect($event.target.value)">
			<option *ngFor="let val of pageSizeSelect" value="{{val}}">{{val}}</option>
		</select>
	</div>
</div>
<ng-template #modalVisu let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">{{selectedPhoto.titre}}</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<a *ngIf="listPhoto.indexOf(selectedPhoto) > 0" role="button" class="chevron left" (click)="goPrecedent()">
			<i class="material-icons">chevron_left</i>
		</a>
		<img class="card-img" src="http://localhost:8080/download/{{selectedPhoto.nom}}" alt="{{selectedPhoto.nom}}">
		<a *ngIf="listPhoto.indexOf(selectedPhoto) < (listPhoto.length -1)" role="button" class="chevron right" (click)="goSuivant()">
			<i class="material-icons">chevron_right</i>
		</a>
	</div>
	<div class="modal-footer">
		<button *ngIf="isLogged" type="button" class="btn btn-outline-danger" (click)="delPhoto(selectedPhoto);c('Close click')">Supprimer</button>
		<button *ngIf="isLogged" type="button" class="btn btn-outline-primary" (click)="c('Close click');openModal(modalModif)">Modification</button>
		<a type="button" class="btn btn-outline-primary" href="http://localhost:8080/download/{{selectedPhoto.nom}}" download>Télécharger</a>
	</div>
</ng-template>
<ng-template #modalAjout let-c="close" let-d="dismiss">
	<form #photoForm="ngForm">
		<div class="modal-header">
			<h4 class="modal-title">Ajouter une photo</h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="titreAjout">Titre</label>
				<input type="text" class="form-control" id="titreAjout" name="titreAjout" [(ngModel)]="newPhoto.titre" #titreAjout="ngModel" required>
				<div [hidden]="titreAjout.valid || titreAjout.pristine" class="alert alert-danger">Le titre est obligatoire</div>
			</div>
			<div class="form-group">
				<label for="dateAjout">Date</label>
				<div class="input-group">					
					<input class="form-control" placeholder="jj/mm/aaaa" id="dateAjout" name="dateAjout" [(ngModel)]="newPhoto.date" #dateAjout="ngbDatepicker" ngbDatepicker required>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" (click)="dateAjout.toggle()" type="button">
							<i class="material-icons">date_range</i>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="tagsAjout">Tags</label>
				<tag-input class="form-control" id="tagsAjout" name="tagsAjout" [(ngModel)]='newPhoto.tags' theme='bootstrap'></tag-input>
			</div>
			<div class="form-group">
				<label for="nomAjout">Photo</label>
				<input type="file" class="form-control" id="nomAjout" name="nomAjout" ng2FileSelect [uploader]="uploader"/>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Annuler</button>
			<button type="submit" class="btn btn-outline-success btn-s" [disabled]="!uploader.getNotUploadedItems().length || !(titreAjout.valid || titreAjout.pristine)" (click)="uploader.uploadAll();c('Close click')">
				Ajouter
			</button>
		</div>
	</form>
</ng-template>
<ng-template #modalModif let-c="close" let-d="dismiss">
	<form #photoForm="ngForm">
		<div class="modal-header">
			<h4 class="modal-title">Modification de la photo</h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="titreModif">Titre</label>
				<input type="text" class="form-control" id="titreModif" name="titreModif" [(ngModel)]="selectedPhoto.titre" #titreModif="ngModel" required>
				<div [hidden]="titreModif.valid || titreModif.pristine" class="alert alert-danger">Le titre est obligatoire</div>
			</div>
			<div class="form-group">
				<label for="dateModif">Date</label>
				<div class="input-group">					
					<input class="form-control" placeholder="jj/mm/aaaa" id="dateModif" name="dateModif" [(ngModel)]="selectedPhoto.date" #dateModif="ngbDatepicker" ngbDatepicker required>
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" (click)="dateModif.toggle()" type="button">
							<i class="material-icons">date_range</i>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="tagsModif">Tags</label>
				<tag-input class="form-control" id="tagsModif" name="tagsModif" [(ngModel)]='selectedPhoto.tags' theme='bootstrap'></tag-input>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary" (click)="c('Close click')">Annuler</button>
			<button type="submit" class="btn btn-outline-success btn-s" [disabled]="!(titreModif.valid || titreModif.pristine)" (click)="modifPhoto();c('Close click')">
				Modifier
			</button>
		</div>
	</form>
</ng-template>

