<div class="container">
	<h2>Bienvenue</h2>
	<p>Voici la liste des album</p>
   <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let album of listAlbum">
         <div class="card" routerLink="/photo/{{album.nom}}">
            <img class="card-img-top" src="/documents/{{album.photo}}" alt="{{album.photo}}">
            <div class="card-body">
               <p class="card-text">
                  <span class="card-title">{{album.nom}}</span> 
               </p>
               <p class="card-text">
                  <small class="text-muted">{{album.description}}</small>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
